* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: #fff;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: inherit;
    }
}

li {
    list-style: none;
}

.App {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.main {
    background-color: #191919;
}

.hideScrollBar {
    &::-webkit-scrollbar {
        display: none;
    }

    & {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}