.header {
    position: relative;

    .header__logo {
        width: 35%;
        min-width: 270px;
        padding: 21px 0;
        margin: 0 21px;
    }

    .nav {
        display: flex;
        height: 50px;
        line-height: 50px;
        justify-content: space-between;
        background-color: #505453;
        box-shadow: 0 0 25px rgb(0 0 0 / 35%);
        position: relative;

        &>ul {
            display: flex;
            padding-left: 0;
            margin-bottom: 0;

            li {

                &.active,
                &:hover {
                    background-color: #404040;
                }

                a {
                    padding: 0 14px;
                    display: block;
                }
            }
        }

        .search__form {
            display: flex;
            color: #fff;
        }

        .nav__search {
            outline: none;
            border: none;
            border-radius: 0;
            background-color: #484c4b;
            padding: 17px 14px;
            height: 50px;
            color: inherit;
            box-shadow: inset 0px 0px 4px 0px #ffffff69;

            &:focus {
                box-shadow: inset 0px 0px 4px 0px #ffffff;
            }
        }

        .nav__searchBtn {
            padding: 0 19px;
            background-color: #484c4b;
            height: 50px;
            outline: none;
            border: none;
            transform: scale(.9);
            position: relative;
            background-color: #484c4b;
            box-shadow: 0px 0px 7px -2px white;
            color: inherit;
            cursor: pointer;
        }
    }

    .mob__nav {
        display: none;

        .mob__nav__toggleBtn {
            cursor: pointer;
        }

        .mob__nav__header {
            padding: 0 21px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .mob__header__logo {
                flex: 0 0 auto;
                width: 100%;
                padding: 0 21px;
                max-width: 270px;
                display: block;
            }

            &>span svg {
                width: 33px;
            }
        }

        .mob__nav__bar {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100vw;
            height: 100vh;
            background-color: #000000e8;
            z-index: 100;
            transform: scale(1.2);
            visibility: hidden;
            opacity: 0;
            transition: ease .3s;
            overflow-y: auto;

            &.active {
                transform: scale(1);
                visibility: visible;
                opacity: 1;
            }

            .mob__nav__bar__closeBtn {
                display: block;
                margin: auto;
                margin-top: 33px;
                padding: 2px;
                border: 1px solid white;
                border-radius: 100%;
                width: 27px;
                height: 27px;
            }

            &>ul {
                margin-top: 100px;
                padding: 33px;

                li {
                    font-size: 20px;
                    font-weight: 600;
                    margin-bottom: 19px;
                }
            }
        }

        .mob__nav__searchBar {
            background-color: #505453;
            width: 100%;
            position: absolute;
            top: 60px;
            right: 0;
            left: 0;
            z-index: 90;
            height: 0px;
            overflow: hidden;
            transition: ease .3s;
            &.active{
                height: 50px;
            }
            .mob__nav__search__form {
                display: flex;
                color: #fff;

                .mob__nav__search {
                    outline: none;
                    border: none;
                    flex: 1 0 auto;
                    border-radius: 0;
                    background-color: #484c4b;
                    padding: 17px 14px;
                    height: 50px;
                    color: inherit;
                    box-shadow: inset 0px 0px 4px 0px #ffffff69;

                    &:focus {
                        box-shadow: inset 0px 0px 4px 0px #ffffff;
                    }
                }

                .mob__nav__searchBtn {
                    padding: 0 19px;
                    background-color: #484c4b;
                    height: 50px;
                    outline: none;
                    border: none;
                    transform: scale(.9);
                    position: relative;
                    box-shadow: 0px 0px 7px -2px white;
                    color: inherit;
                    cursor: pointer;
                }
            }
        }
    }

    .platforms {
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 9px 14px -7px #fff;
        background: linear-gradient(to bottom, #6a7574 20%, #0d0a06 100%);
        padding: 8px;
        height: 58px;
        box-sizing: content-box;
        position: relative;

        &>* {
            width: 43px;
            border-radius: 11px;
            margin: 0 4px;
        }
    }
}

.filter {
    padding: 21px;
    background-color: #191919;

    &>ul {
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        li.filter__genre {
            margin: 4px;

            &.active {
                order: -1;

                button {
                    background: linear-gradient(to bottom, #b39494 18%, #3a8383 100%);
                    color: #2c1f1f;
                }

                .filter__removeIcon {
                    display: block;
                }
            }

            button {
                background: linear-gradient(to bottom, #b5c3ed 18%, #06f7f7 100%);
                border-radius: 10px;
                min-width: 50px;
                font-weight: 800;
                cursor: pointer;
                color: #5c5c5c;
                margin: 4px -8px -4px 8px;
                padding: 10px;
                display: flex;
                align-items: center;
                font-size: 11.3px;
                text-transform: uppercase;
                border: none;
                outline: none;

                .filter__removeIcon {
                    font-size: 13px;
                    margin-left: 4px;
                    display: none;
                }
            }
        }
    }

    .social {
        display: flex;
        justify-content: center;
        padding: 8px;
        flex-wrap: wrap;

        .social__buttons {
            margin: 4px;
            padding: 10px 24px;
            background: #ec00dd;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 700;
            cursor: pointer;
            box-shadow: 0 5px 14px -7px #fff;

            &:hover,
            &:focus {
                background: linear-gradient(to left bottom, #FFFFFF 50%, #e6e6e6 50%);
            }

            &>a {
                display: flex;
                align-items: center;
                white-space: nowrap;
                transition: .3s;

                &:hover {
                    color: red;
                }
            }

            .social__buttons__icon {
                margin-right: 5px;
                font-size: 15px;
            }
        }
    }
}

@media(max-width: 767px) {
    .header {

        .header__logo,
        .nav {
            display: none;
        }

        .mob__nav {
            display: block;
        }

        .platforms {
            overflow-x: auto;

            & * {
                width: 38px;
            }
        }
    }
}

@media(max-width: 432px) {
    .header {
        .platforms {
            justify-content: flex-start;
        }
    }
}