.movie {
    .movie__wrapper {
        display: flex;
        flex-wrap: wrap;
        padding: 0 21px;
        justify-content: space-around;

        .media {
            display: flex;
            width: 200px;
            flex-direction: column;
            padding: 5px;
            margin: 15px 5px;
            background-color: #282c34;
            border-radius: 10px;
            position: relative;
            font-family: "Montserrat", sans-serif;

            @media(max-width: 480px) {
                width: 46%;
                flex-grow: 1;
                flex-basis: 46%;
                max-width: 50%;
            }
            @media(max-width: 300px){
                width: 100%;
                max-width: 180px;
            }

            &:hover {
                background-color: #fff;
                color: #000;
            }


            .media__title {
                width: 100%;
                text-align: center;
                font-size: 17px;
                padding: 8px 0;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                -webkit-line-clamp: 2;
            }

            .media__subTitle {
                display: flex;
                justify-content: space-between;
                padding: 0 2px 3px;
            }

            .MuiBadge-root {
                display: inline-flex;
                position: relative;
                flex-shrink: 0;
                vertical-align: middle;
            }

            .media__poster {
                border-radius: 10px;
                width: 100%;
            }

            .MuiBadge-anchorOriginTopRightRectangle {
                top: 0;
                right: 0;
                transform: scale(1) translate(50%, -50%);
                transform-origin: 100% 0%;
            }

            .MuiBadge-colorPrimary {
                color: #fff;
                background-color: #3f51b5;
            }

            .MuiBadge-badge {
                height: 20px;
                display: flex;
                padding: 0 6px;
                z-index: 1;
                position: absolute;
                flex-wrap: wrap;
                font-size: 0.75rem;
                min-width: 20px;
                box-sizing: border-box;
                transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                align-items: center;
                font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                font-weight: 500;
                line-height: 1;
                align-content: center;
                border-radius: 10px;
                flex-direction: row;
                justify-content: center;
            }
        }
    }

    .pagination {
        padding: 0 21px;
        padding: 43px 0;

        &>ul {
            display: flex;
            color: #fff;
            justify-content: center;
            flex-wrap: wrap;

            &>li {
                width: 41px;
                height: 41px;
                position: relative;
                margin: 4px;

                &>a {
                    font-size: 15px;
                    font-weight: 600;
                    background-color: transparent;
                    border: 1px solid #303030;
                    cursor: pointer;
                    transition: .3s;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                }

                &>a:hover {
                    background-color: red;
                    border-color: red;
                }

                &.selected>a {
                    background-color: red;
                    border-color: red;
                    cursor: unset;
                }

                &.break>a {
                    border-color: transparent;
                    background-color: transparent;
                    cursor: unset;
                }
            }
        }

        .pagination__icon {
            font-size: 21px;
            display: block;
        }
    }
}